
.content{
    background-color: #F0FFF0;
}

.container h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585958;
}
.navback{
    margin-bottom: 80px;
}
.navback img{
   width: 150px;
}
.navbar-nav a{
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.navbar-nav button{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #21B573;
    border-radius: 33px;
    width: 104px;
    padding: 12px 28px;
    border: none;
}

.learing-side{
    margin-bottom: 42px;
}
.container,.row img{
    padding: 30px 40px;
}
.text-line{
    margin-top: 30px;
    padding-bottom: 10px;
}
.text-line h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.text-line h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
}
.text-line h2 span{
    color: #21B573;
}
.text-line p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
.Items img{
    width: 140px;
    margin: 0 auto;
}
.Items{
    width: 260px;
    height: 270px;
   border: none;
    
   
}
.Items h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
}
.cat1,.cat3,.cat4{
    background: #F8FFFB;
    border-radius: 10px;
}
.cat2{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.buy-now{
    background: #21B573;
    border-radius: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 28px;
    color: #FFFFFF;
}
.item-set{
    margin-bottom: 98px;
    padding: 10px;
}



.Online{ 
    border-radius: 18px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border: none;
}
.card-footer{
    background-color: #FFFFFF;
    border-top: none;
  }
.cnline-courses h1{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    margin-bottom: 60px;
}

.Online img{
    border-radius: 11px;
}

.Online h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    padding-left: 30px;
}
.Online h6{
    padding-left: 30px;
    margin-bottom: 19px;
}
.card-footer button{
    background: #21B573;
    border-radius: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 28px;
    color: #FFFFFF;
    border: none;
    margin-left: 30px;
    margin-bottom: 34px;
}

.cnline-courses{
    padding: 20px;
    margin-bottom: 81px;
}



.testimonial h1{ text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    margin-bottom: 60px;
}
.testimonial p{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}
.text{
    width: 580px;
    height: 90px;
}
.testimonial img{
    width: 170px;
    height: 170px;
    margin-left: 50%;
    margin-top: 0%;
    margin-bottom: 127px;
}


